Repository iamAntimPal/TechInterviewMaster, pull requests merged in 2025-04, with the labels that each got.

#13 Update 140+ Basic Python Programs.ipynb
  Interview/Python/Solutions/140+ Basic Python Programs/140+ Basic Python Programs.ipynb
Labels: enhancement, good first issue

#79 remove
  Interview/Python/Solutions/140+ Basic Python Programs/Program1/Hello World.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program1/readme.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program2/addition.py
Labels: enhancement, good first issue, question

#87 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program10/readme.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program3/triangle_area.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program4/readme.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program4/swap_temp_variable.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program4/swap_tuple_unpacking.py
Labels: enhancement, good first issue, question

#88 Update swap_tuple_unpacking.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program4/swap_tuple_unpacking.py
Labels: enhancement, good first issue, question

#178 Python
  Interview/GIT/readme.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 6/km_to_miles.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 6/readme.md
  Interview/Python/Solutions/Top 100+ Advanced Python Questions/Question 4/README.md
Labels: question, Python

#183 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 9/quadratic_solver.py
Labels: enhancement, question, Python

#186 Update swap_variables.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 10/swap_variables.py
Labels: enhancement, good first issue, Python

#195 Update check_number.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 11/check_number.py
Labels: enhancement, good first issue, question, Python

#202 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 13/leap_year_checker.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 14/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 14/prime_checker.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 14/prinme_checker2.py
Labels: enhancement, good first issue, question, Python

#203 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 15/Prime_numbers.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 15/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 15/primes_in_interval.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 15/tempCodeRunnerFile.py
Labels: enhancement, good first issue, question, Python

#208 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 17/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 17/multiplication_table.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 18/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 18/fibonacci_sequence.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 19/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 19/fibonacci.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 20/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 20/armstrong_interval.py
Labels: enhancement, good first issue, question, Python

#222 Factorial result
  Interview/Python/Solutions/140+ Basic Python Programs/Program 16/factorial.py
Labels: good first issue, question, Python

#231 Python Problem 140 to solve vewol replace
  Interview/Python/Solutions/140+ Basic Python Programs/Program 140/README.md
  Interview/Python/Solutions/140+ Basic Python Programs/Program 140/vow_repalce.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 141/readme.md
Labels: enhancement, question, Python

#238 fabunnaci sequence problem
  Interview/Python/Solutions/140+ Basic Python Programs/Program 19/fibonacci.py
Labels: enhancement, good first issue, question, Python

#239 adding armstorg numvber
  Interview/Python/Solutions/140+ Basic Python Programs/Program 20/armstrong_interval.py
Labels: enhancement, good first issue, question, Python

#241 solve that LCm Probelem
  Interview/Python/Solutions/140+ Basic Python Programs/Program 22/lcm_multiple_numbers.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 22/lcm_two_numbers.py
Labels: documentation, duplicate, enhancement, good first issue, question, Python

#242 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 23/hcf_builtin.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 23/hcf_custom.py
Labels: question, Python

#256 solved that problem
  Interview/Python/Solutions/140+ Basic Python Programs/Program 31/cube_sum.py
Labels: enhancement, good first issue, question, Python

#259 Python Problem no: 33
  Interview/Python/Solutions/140+ Basic Python Programs/Program 33/largest_element.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 33/largest_element_loops.py
Labels: enhancement, good first issue, question, Python

#260 Python
  Interview/Python/Solutions/140+ Basic Python Programs/Program 33/largest_element_loops.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 34/left_rotation.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 34/right_rotation.py
Labels: enhancement, good first issue, question, Python

#263 Python 2d list sum
  Interview/Python/Solutions/140+ Basic Python Programs/Program 37/add_matrice_using_input.py
  Interview/Python/Solutions/140+ Basic Python Programs/Program 37/add_matrices.py
Labels: enhancement, good first issue, question, Python

#301 Update README.md
  README.md
Labels: documentation

#315 adding
  Interview/Python/Solutions/Top 100+ Advanced Python Questions/Question 1/README.md
Labels: Python
